.solution{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left-side style*/
.solution div h3 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0.01em;
}

.solution div h3:last-of-type{
    margin-bottom: 2rem;
}

.solution div p {
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #FFFFFFB2;
}

.solution div p:nth-of-type(2){
    margin-bottom: 2rem;
}



/* right-side style */

.solution image img {
    width: 513px;
    height: 449px;
}


/* media */

@media screen and (max-width:768px){
    .solution{
        flex-direction: column;
        row-gap: 1.5rem;
    }
}

@media screen and (max-width:540px){
    .solution image img {
        width: 380px;
        height: 365px;
    }
}

@media screen and (max-width:425px){
    .solution > div{
        text-align: center;
    }
    .solution image img {
        width: 270px;
        height: 255px;
    }
    .solution div h3 {
        font-size: 24px;
    }
    .solution div p {
        font-size: 10px;
    }
}